@page
@model MovieReviewWebsite.Pages.Acteurs.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Acteur</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Acteur.Voornaam)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Acteur.Voornaam)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Acteur.Naam)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Acteur.Naam)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Acteur.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
