@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<a asp-area="" asp-page="/Bestelling">Nieuwe bestelling plaatsen</a>

<table>
    <thead>
        <tr>
            <th>Datum</th>
            <th>E-mailadres</th>
            <th>Pizza's</th>
            <th>Totaal</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var bestelling in Model.Bestellingen)
        {
            <tr>
                <td>@bestelling.Datum</td>
                <td>@bestelling.Emailadres</td>
                <td>
                    <ul>
                        @foreach(var lijn in bestelling.Bestellijnen)
                        {
                            <li>@lijn.Pizza.Naam: @lijn.Aantal</li>
                        }
                    </ul>
                </td>
                <td>€ @bestelling.BerekenTotaal()</td>
            </tr>
        }
    </tbody>
</table>