@page
@model MyMotorbikeStore_website.Pages.Motorbikes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Motorbike</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Motorbike.CC)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Motorbike.CC)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Motorbike.Gewicht_kg)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Motorbike.Gewicht_kg)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Motorbike.Merk)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Motorbike.Merk)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Motorbike.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Motorbike.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Motorbike.Productiedatum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Motorbike.Productiedatum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Motorbike.Prijs)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Motorbike.Prijs)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Motorbike.InStock)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Motorbike.InStock)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Motorbike.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
